.container {
  width: 290px;
  margin: 0 auto;
  background-color: #eaeaea;
  padding: 2px;
}

.title {
  display: flex;
  background-color: #ced3d7;
  height: 30px;
  line-height: 30px;
  color: #57646E;
  border: 1px solid #fff;
  justify-content: space-between;
  cursor: pointer;
}

/* transform: rotate(180deg); */
.transform {
  transform: rotate(180deg);
}

h4 {
  margin: 0;
}

span {
  transition: all 100ms linear 100ms;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 10px;
}