html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.container {
  width: 500px;
  margin: 20px auto;
  /* height: 300px; */
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
}

#title {
  display: inline-block;
  font-size: 18px;
}

.first-line {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.input {
  line-height: 30px;
}

.input input {
  height: 26px;
  border-radius: 5px;
}

.first-line div img {
  margin-left: 15px;
  border-radius: 5px;
}

.second-line textarea {
  margin-top: 15px;
  width: 496px;
  height: 100px;
  border-radius: 5px;
  resize: none;
}

.third-line {
  text-align: right;
  margin-top: 20px;
}

.last-line {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #e3eaec;
  width: 500px;
  height: 40px;
}

.last-line span {
  background-color: #FFF;
  width: 80px;
  margin: 5px 15px 0 15px;
  height: 25px;
}

.discuss {
  transition: all 1s;
  padding: 15px;
  display: flex;
  border-bottom: 1px dashed #d6d6d6;
}

.leftImg {
  width: 50px;
  height: 50px;
}

.rightAricale {
  margin-left: 20px;
  width: 420px;
  display: flex;
  flex-direction: column;
}

.rightAricale span {
  word-wrap: break-word;
}

.rightAricale .nickName {
  text-decoration: none;
  color: #2b4a78;
}

.time {
  color: #889db6;
  font: 12px/18px arial;
  display: flex;
  justify-content: space-between;
}

.time a {
  color: #889db6;
  text-decoration: none;
}


.active {
  opacity: 1;
  border: 1px solid orange;
}

.native {
  opacity: 0.4;
  border: 0;
}