.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.show {
  display: none;
  width: 220px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  background: #ffefa4;
  border: 1px solid #f90;
}